@mixin reset() {
  background: #fff;
  color: #000;
  text-shadow: none;
  border: 0;
  padding: 0;
  height: auto;
  width: auto;
  line-height: normal;
  border-radius: 0;
  //font-family: sans-serif;
  font-size: 1rem;
}

date-input-polyfill {
  @include reset();
  position: absolute !important;
  text-align: center;
  box-shadow:
    0 7px 8px -4px rgba(0,0,0,.2),
    0 12px 17px 2px rgba(0,0,0,.14),
    0 5px 22px 4px rgba(0,0,0,.12);
  cursor: default;
  z-index: 1;

  &[data-open="false"] {
    display: none;
  }
  &[data-open="true"] {
    display: block;
  }

  select, .nodep-table, .nodep-th, .nodep-td {
    @include reset();
    box-shadow: none;
  }

  .nodep-th {
    //background: #e5e9ee;
    border-bottom: 1px solid #335176;
    //border-top: 1px solid #335176;
  }

  select, button {
    border: 0;
    //border-bottom: 3px solid #fff;
    height: 24px;
    vertical-align: top;
  }

  select {
    width: 45%;

    &:first-of-type {
      //border-right: 2px solid #fff;
      width: 30%;
    }
  }
  button {
    padding: 0;
    width: 25%;
    background: #667c98;
    color: #fff;
    //border-left: 3px solid #fff;
    font-weight: 200;
    font-size: .8rem;
  }

  .nodep-thead, .nodep-tbody {
    display: table;
  }
  .nodep-tr {
    display: table-row;
  }
  .nodep-td, .nodep-th {
    display: table-cell;
  }

  .nodep-table {
    border-collapse: collapse;
  }
  .nodep-th, .nodep-td {
    width: 38px;
    padding: 4px;
    text-align: center;
  }
  .nodep-td[data-day] {
    cursor: pointer;

    &:hover {
      background: #ccd3dd;
    }
  }
  [data-selected] {
    font-weight: bold;
    background: #99a8bb;
  }
}

input[data-has-picker] {
  &::-ms-clear {
    display: none;
  }
}
